@media screen and (max-width:1200px){
    header{
        width: 100%;
        height:auto;
    }
    h1{
        color: white;
        text-align: center;
        text-transform: uppercase;
        margin-top: 20px;
    }
    .size{
        width: 80%;
        height: auto;
        margin: 250px auto;
    }
    .men_clock{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin:35px 0px;
        
        
    }
    .men_clock img{
        width: 250px;
        height: 250px;
        margin: 0px 40px;
        box-shadow: 18px 18px 37px 9px rgba(255, 255, 255, 0.24);

    
    }
    .women_clock{
        width: 100%;
        height: auto;
        display:flex;
        justify-content: center;
       
    }
    .women_clock img{
        width: 250px;
        height: 250px;
        margin: 0px 40px;
        box-shadow: 18px 18px 37px 9px rgba(255, 255, 255, 0.24);
    
    }
}
/* --------------------------------------------- */

@media screen and (max-width:992px){
    header{
        width: 100%;
        height:auto;
    }
    h1{
        font-size: 25px;
        color: white;
        text-align: center;
        text-transform: uppercase;
        margin-top: 20px;
    }
    .size{
        width: 80%;
        height: auto;
        margin: 250px auto;
    }
    .men_clock{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin:35px 0px;
        
        
    }
    .men_clock img{
        width: 200px;
        height: 200px;
        margin: 0px 40px;
        box-shadow: 18px 18px 37px 9px rgba(255, 255, 255, 0.24);

    
    }
    .women_clock{
        width: 100%;
        height: auto;
        display:flex;
        justify-content: center;
       
    }
    .women_clock img{
        width: 200px;
        height: 200px;
        margin: 0px 40px;
        box-shadow: 18px 18px 37px 9px rgba(255, 255, 255, 0.24);
    
    }
}
/* ------------------------------------------------- */

@media screen and (max-width:580px) {
    header{
        width: 100%;
        height:auto;
    }
    h1{
        font-size: 18px;
        color: white;
        text-align: center;
        text-transform: uppercase;
        margin-top: 20px;
    }
    .size{
        width: 80%;
        height: auto;
        margin: 250px auto;
    }
    .men_clock{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin:35px 0px;
        
        
    }
    .men_clock img{
        width: 150px;
        height: 125px;
        margin: 0px 40px;
        box-shadow: 18px 18px 37px 9px rgba(255, 255, 255, 0.24);

    
    }
    .women_clock{
        width: 100%;
        height: auto;
        display:flex;
        justify-content: center;
       
    }
    .women_clock img{
        width: 150px;
        height: 125px;
        margin: 0px 40px;
        box-shadow: 18px 18px 37px 9px rgba(255, 255, 255, 0.24);
    
    }
    
}
